<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
  </head>



<body>
<style>
a{text-decoration: none;
color: white;}

</style>
  <header>
  
    <nav class="navbar navbar-expand-sm text-white" style="background-color:  rgb(91, 155, 156);" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CRUD UWU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
          </ul>
        </div>
      </div>
    </nav>
    </header>  



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: rgb(112, 160, 192);">
        <h4 class="modal-title">Datos del Estudiante</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color:rgb(112, 160, 192);">
        <form action="/crud_estudiantes" method="post">
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Id:</label>
            <input type="text" class="form-control" id="txt_id" name="txt_id" placeholder="0" readonly/>
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Carne:</label>
            <input type="text" class="form-control" id="txt_carne" name="txt_carne" placeholder="E001"
              onchange="carnetValidation(this);" required/>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Nombres:</label>
            <input type="text" class="form-control" id="txt_nombres" name="txt_nombres" placeholder="Ingrese Nombres" required/>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" id="txt_apellidos" name="txt_apellidos"
              placeholder="Ingrese Apellidos" required/>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Direccion:</label>
            <input type="text" class="form-control" id="txt_direccion" name="txt_direccion"
              placeholder="Ingrese Direccion" required/>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Telefono:</label>
            <input type="text" class="form-control" id="txt_telefono" name="txt_telefono"
              placeholder="Ingrese Telefono" required/>
          </div>


          <div class="mb-3">
            <label for="text" class="form-label">genero:</label>
            <select name="txt_genero" id="txt_genero" class="form-select" required >
              <option value="Inicio" selected>Seleccione el genero</option>
              <option value="0">Masculino</option>
              <option value="1">Femenino</option>
            </select>
          </div>


          <div class="mb-3">
            <label for="text" class="form-label">Email:</label>
            <input type="text" class="form-control" id="txt_email" name="txt_email" placeholder="Ingrese Email" required/>
          </div>
          
          <div class="mb-3">
            <label for="text" class="form-label">Fecha Nacimiento:</label><br>
            <input type="datetime" class="form-control" id="txt_fecha_nacimiento" name="txt_fecha_nacimiento"
              placeholder="Ingrese Fecha Nacimiento Formato (YYYY-MM-DD)" required/>
          </div>


          <button type="submit" class="btn btn-success" id="btn_agregar" name="btn_agregar" value="agregar">Agregar</button>
          <button type="busubmittton" class="btn btn-secondary" id="btn_modificar" name="btn_modificar" value="modificar">Modificar</button>
          <button type="submit" class="btn btn-danger" id="btn_eliminar" name="btn_eliminar"
            onclick="javascript:if(!confirm('Desea Eliminar Este Estudiante?')) return false;" value="borrar">Eliminar</button>
        </form>
      </div>

    </div>
  </div>
</div>


      <div class="container pt-5 mb-5" >
    <h2>Crud Estudiantes</h2>
    
    <br />
    <br />
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="limpiarForm();">
      Nuevo Estudiante
    </button>
    <br />
    <br />
    <table class="table table-hover pb-5 text-center" style="background-color:  rgb(91, 155, 156);" >
      <thead>
        <tr>
          <th>Carne</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Genero</th>
          <th>Correo</th>
          <th>Fecha de Nacimiento</th>
        </tr>
      </thead>
      <tbody id="tbl_estudiantes" style="cursor: pointer;">
        <% resultado.forEach((estudiante)=>{ %>
          <tr data-id_estudiante="<%=estudiante.id_estudiante%>">
            <td><%= estudiante.Carne %></td>
            <td><%= estudiante.nombres %></td>
            <td><%= estudiante.apellidos %></td>
            <td><%= estudiante.direccion %></td>
            <td><%= estudiante.telefono %></td>
            <%if(estudiante.genero==0){%>
              <td>Masculino</td>
              <%}
              else{%> 
                <td>Femenino</td>
                <%}%>
            <td><%= estudiante.email %></td>
            <td><%= estudiante.fecha_nacimiento %></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>

  
  <div class="mt-5 p-4  text-white text-center footer" style="background-color: rgb(91, 155, 156);">
    <p>CRUD</p>
    <p>© Copyright 2022</p>
  </div>

  <script type="text/javascript">
    $('#tbl_estudiantes').on('click','tr td',function(e){
      var target;
      var id_estudiante,carnet,nombres,apellidos,direccion,telefono,genero,correo_electronico,fecha_nacimiento;
      target = $(e.target);
      id_estudiante=target.parent().data('id_estudiante');
      carnet=target.parent("tr").find("td").eq(0).html();
      nombres=target.parent("tr").find("td").eq(1).html();
      apellidos=target.parent("tr").find("td").eq(2).html();
      direccion=target.parent("tr").find("td").eq(3).html();
      telefono=target.parent("tr").find("td").eq(4).html();
      genero=target.parent("tr").find("td").eq(5).html();
      correo_electronico=target.parent("tr").find("td").eq(6).html();
      fecha_nacimiento=target.parent("tr").find("td").eq(7).html();
      if(genero=="Masculino"){
        $('#txt_genero').val(0);
      }else{
        $('#txt_genero').val(1);
      }
      $('#txt_id').val(id_estudiante);
      $('#txt_carne').val(carnet);
      $('#txt_nombres').val(nombres);
      $('#txt_apellidos').val(apellidos);
      $('#txt_direccion').val(direccion);
      $('#txt_telefono').val(telefono);
      $('#txt_email').val(correo_electronico);
      $('#txt_fecha_nacimiento').val(fecha_nacimiento);
      $('#myModal').modal('show');

    });
  </script>
  <script>
    function carnetValidation(textbox) {
      const pattern = /(^E{1})([0-9]{3})$/;
      if (textbox.value === "") {
        textbox.setCustomValidity
          ('Ingrese el Carnet');
      } else if (!pattern.test(textbox.value)) {
        textbox.setCustomValidity
          ('Ingrese un carnet Valido: E001-E999');
      }else {
        textbox.setCustomValidity('');
    }
    return true;
    }

    function limpiarForm(){
      $('#txt_id').val(0);
      $("#txt_carne").val("");
      $("#txt_nombres").val("");
      $("#txt_apellidos").val("");
      $("#txt_direccion").val("");
      $("#txt_telefono").val("");
      $("#txt_email").val("");
      $("#txt_genero").val("Inicio");
      $("#txt_fecha_nacimiento").val("");
      
    }
  </script>
</body>

</html>